<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\css\style.css">
    <title>Emprestimo</title>
</head>
<body>
    <div class="container" id="container">
        <div class="form-container sign-in">
            <form action="#" method="post">
                <h2 style="color: #6A5ACD"> - Search p/ Título - </h2>
                <div class="static-div"> </div>
                <span>Forneça os dados requeridos</span >
                <select name="livro">
                    <label>Titulo: </label>
                    <option value="#">Titulo</option>
                    <!-- {% for book in books %} -->
                        <!-- {% if book.boo_id == emp.len_boo_id %} -->
                            
                        <!-- {% else %} -->
                            <option value="#">Titulo</option>
                        <!-- {% endif %} -->
                        
                    <!-- {% endfor %} -->
                </select>
                <br>
                <button>Enter</button>
            </form>
        </div>

        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-right">
                    <h1> </h1>
                    <p id="p_log" style="font-style: italic;">Realize um emprestimo</p>
                    <br>

                    <img class="image-index-list" src="..\static\images\undraw_books_wxzz.svg" alt="Imagem" style="margin-top:20px">
                </div>
            </div>
        </div>
    </div>

</body>

</html>