<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\css\style.css">
    <title> Cadastrar Usuário </title>
</head>
<body>
    <div class="container" id="container">
        <div class="form-container sign-in">
            <form action="#" method="post">
               <!-- <a href="templates\index.html"><button class="button_voltar">Voltar</button></a> -->
                <h2 style="color: #6A5ACD"> - Cadastro de Usuários -</h2>
                <div class="static-div"> </div>
                <span>Forneça o dado requerido</span >
                <input type="name" placeholder="Nome" for="nome" name="nome">
                <br>
                <button>Cadastrar</button>
            </form>
        </div>

        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-right">
                    <h1> </h1>
                    <p id="p_log" style="font-style: italic;">Cadastre um novo User</p>
                    <br>

                    <img class="image-index-list" src="..\static\images\undraw_mobile-login_4ntr.svg" alt="Imagem" style="margin-top:20px">
                </div>
            </div>
        </div>
    </div>

</body>

</html>